@page
@model CategoryCRUD_31.Pages.CategoryCRUD.AddSuccessModel
@{
}
<div class="text-center margin-top: 250px">
    <h1 class="display-4">施策カテゴリ編集が完了しました。</h1>
    <button class="btn btn-primary" onclick="window.location.href ='/CategoryCRUD/list'">施策カテゴリ一覧</button>
</div>